@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

:root {
  --body-font: "Montserrat", sans-serif;
  --primary-color: #ff6a74;
  --secundary-color: rgba(66, 66, 240, 0.651);
  --terciary-color: #bfcddd;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px*/
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
